<div id='header'>
    <div class="headerName">
        <div class="logo">

        </div>
        <div class="name">
            LightBreak Framework
        </div>
    </div>
    <div class="menuPanel">
        <div class="link">
            <a href="/document">
                DOCUMENT
            </a>
        </div>
        <div class="link">
            <a href="https://github.com/soghband/LBFramework" target='_blank'>
                DOWNLOAD
            </a>
        </div>
    </div>
</div>