#document {
    .centerPanel {
        max-width: 900px;
        margin: 0px auto;
        padding: 20px;
        position: relative;
        .header {
            color: #999;
            font-size: 36px;
            border-bottom: 2px #999 solid;
        }
        .docAll {
            .leftSide {
                box-sizing: border-box;
                margin-top:10px;
                width: 180px;
                display: inline-block;
                line-height: 22px;
                .group {
                    color:#333;
                    font-size:-2px;
                    font-weight: bold;
                }
                .className {
                    color:#666;
                    font-size:-2px;
                    margin-left:10px
                }
                .functionName {
                    color:#999;
                    font-size:-2px;
                    margin-left:20px;
                }
            }
            .rightSide {
                margin-top:10px;
                vertical-align: top;
                width:calc(100% - 184px);
                box-sizing: border-box;
                display: inline-block;
                .head {
                    font-size:24px;
                    color:#666;
                    border-bottom: 1px solid #eee;
                }
                .detail {
                    margin-top:10px;
                }
            }
        }

    }
}