#header {
    background: #999;
    .headerName {
        color: #FFF;
        font-size: 28px;
        font-weight: bold;
        padding: 20px;
        display: inline-block;
        wisth: 400px;
    }
    .menuPanel {
        display: inline-block;
        width: calc(100% - 400px);
        text-align: right;
        .link {
            color: #666;
            display: inline-block;;
            padding: 0px 20px;
            a {
                text-decoration: none;
            }
        }
    }
}