#header {
  background: #999; }
  #header .headerName {
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    wisth: 300px; }
  #header .menuPanel {
    display: inline-block;
    width: calc(100% - 300px);
    text-align: right; }
    #header .menuPanel .link {
      color: #666;
      display: inline-block;
      padding: 0px 20px; }
      #header .menuPanel .link a {
        text-decoration: none; }
