#firstSignPanel {
    .whatIs {
        padding: 20px;
        position: relative;
        display: inline-block;
        height: 100%;
        vertical-align: top;
        .table {
            display: inline-table;
            height: inherit;
            .row {
                display: table-row;
                vertical-align: center;
                .cell:first-child {
                    font-size: 28px;
                    font-weight: bold;
                    text-align: center;
                    width: calc(45vw - 35px);
                    display: table-cell;
                    vertical-align: middle;
                }
                .cell {
                    width: calc(55vw - 35px);
                    display: table-cell;
                    font-size: 20px;
                    text-align: left;
                }
            }
        }
    }
    .panel1 {
        padding:20px;
        background: #eeeeee;
        .header {
            font-size: 28px;
            font-weight: bold;
        }
        .head2 {
            font-size: 18px;
            text-indent: 20px;
            margin-top:10px;
        }
        .info {
            margin-top:20px;
            color:#555;
        }
    }
    .panel2 {
        padding:20px;
        background: #FFF;
        .header {
            font-size: 28px;
            font-weight: bold;
        }
        .head2 {
            font-size: 18px;
            text-indent: 20px;
            margin-top:10px;
        }
        .info {
            margin-top:20px;
            padding-left:20px;
            color:#333;
            font-weight: bold;
        }
        pre {
            border-radius: 10px;
            text-indent: 0px;
            margin: 5px 0px 5px 20px;
            padding:10px;
            border: 2px solid #666;
            background: #f2f2f2;
            max-width: 400px;
            min-width: 340px;
        }
        .info2 {
            padding-left:20px;
            color:#777;
        }
    }
}