#firstSignPanel .whatIs {
  padding: 20px;
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: top; }
  #firstSignPanel .whatIs .table {
    display: inline-table;
    height: inherit; }
    #firstSignPanel .whatIs .table .row {
      display: table-row;
      vertical-align: center; }
      #firstSignPanel .whatIs .table .row .cell:first-child {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        width: calc(45vw - 35px);
        display: table-cell;
        vertical-align: middle; }
      #firstSignPanel .whatIs .table .row .cell {
        width: calc(55vw - 35px);
        display: table-cell;
        font-size: 20px;
        text-align: left; }
#firstSignPanel .panel1 {
  padding: 20px;
  background: #eeeeee; }
  #firstSignPanel .panel1 .header {
    font-size: 28px;
    font-weight: bold; }
  #firstSignPanel .panel1 .head2 {
    font-size: 18px;
    text-indent: 20px;
    margin-top: 10px; }
  #firstSignPanel .panel1 .info {
    margin-top: 20px;
    color: #555; }
#firstSignPanel .panel2 {
  padding: 20px;
  background: #FFF; }
  #firstSignPanel .panel2 .header {
    font-size: 28px;
    font-weight: bold; }
  #firstSignPanel .panel2 .head2 {
    font-size: 18px;
    text-indent: 20px;
    margin-top: 10px; }
  #firstSignPanel .panel2 .info {
    margin-top: 20px;
    padding-left: 20px;
    color: #333;
    font-weight: bold; }
  #firstSignPanel .panel2 pre {
    border-radius: 10px;
    text-indent: 0px;
    margin: 5px 0px 5px 20px;
    padding: 10px;
    border: 2px solid #666;
    background: #f2f2f2;
    max-width: 400px;
    min-width: 340px; }
  #firstSignPanel .panel2 .info2 {
    padding-left: 20px;
    color: #777; }
