@font-face {
  font-family: 'source_sans_pro';
  src: url("/fonts/sourcesanspro-italic-webfont.woff2") format("woff2"), url("/fonts/sourcesanspro-italic-webfont.woff") format("woff"), url("/fonts/sourcesanspro-italic-webfont.ttf") format("truetype"), url("/fonts/sourcesanspro-italic-webfont.svg#source_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'source_sans_pro';
  src: url("/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("/fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("/fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0px;
  font-family: source_sans_pro; }

#content {
  min-height: calc(100vh - (72px + 38px)); }
