<div class="head">
    Installation
</div>
<div class="detail">
    <div class="head2">
        Server Requirements
    </div>
    <ol>
        <li>Apache >= 2.2</li>
        <li>PHP >= 5.6.0</li>
        <li>OpenSSL PHP Extension</li>
    </ol>
    <div class="head2">
        Download Sourcecode
    </div>
    <div class="detail2">
        Framework sourcecode is free in <a href="https://github.com/soghband/LBFramework" target="_blank">GitHub</a> you can clone by <a href="https://git-scm.com/" target="_blank">git</a> or <a href="https://github.com/soghband/LBFramework/archive/master.zip">download</a> to your computer.
    </div>
    <div class="head2">
        Root Document
    </div>
    <div class="detail2">
        Root document can set to framework public or root of framework folder. Use .htaccess to managing url.
    </div>
    <div class="head2">
        Composer
    </div>
    <div class="detail2">
        Make sure you have <a href="https://getcomposer.org/" target="_blank">composer</a> in your computer and go to project root then update it.
        <div class="command">
            [PROJECT_ROOT]> composer update
        </div>
        <div>
            Other way: download composer.phar into framework folder and run command
        </div>
        <div class="command">
            [PROJECT_ROOT]> php composer.phar update
        </div>
    </div>
</div>