<div class="group">
    Getting Start
</div>
<div class="lap1">
    <div class="className">
        Installation
    </div>
    <div class="lap2">
        <div class="functionName">
            test
        </div>
        <div class="functionName">
            test2
        </div>
    </div>
    <div class="className">
        Configuration
    </div>
</div>
<div class="group">
    Basic
</div>
<div class="lap1">
    <div class="className">
        Workflow
    </div>
    <div class="lap2">
        <div class="functionName">
            test
        </div>
        <div class="functionName">
            test2
        </div>
    </div>
</div>
<div class="group">
    Controller
</div>
<div class="lap1">
    <div class="className">
        View
    </div>
    <div class="lap2">
        <div class="functionName">
            getPageView
        </div>
        <div class="functionName">
            addView
        </div>
        <div class="functionName">
            dataRegister
        </div>
        <div class="functionName">
            setCachePage
        </div>
        <div class="functionName">
            setSessionProcess
        </div>
        <div class="functionName">
            getPageHash
        </div>
        <div class="functionName">
            clearView
        </div>
        <div class="functionName">
            getTemplateName
        </div>
        <div class="functionName">
            dataRegisterFromHtml
        </div>
        <div class="functionName">
            setTemplate
        </div>
        <div class="functionName">
            addStyleSheet
        </div>
        <div class="functionName">
            sessionDataRegister
        </div>
        <div class="functionName">
            addFirstSignStyleSheet
        </div>
        <div class="functionName">
            addEmbedJavascript
        </div>
        <div class="functionName">
            addJavascript
        </div>
    </div>
</div>