<div id="firstSignPanel">
    <div class='whatIs'>
        <div class="centerPanel">
            <div class="table">
                <div class="row">
                    <div class="cell">
                        What's LightBreak Framework can do?
                    </div>
                    <div class="cell">
                        <ul>
                            <li>
                                Flexible to using controller or html.
                            </li>
                            <li>
                                Easy config route and filter data.
                            </li>
                            <li>
                                Auto optimization image by GD
                            </li>
                            <li>
                                Auto caching when switch to production mode.
                            </li>
                            <li>
                                Session process while caching if you need.
                            </li>
                            <li>
                                Time controller tool make you know how lag in which process.
                            </li>
                            <li>
                                Dev IO real-time build CSS like SASS.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='panel1'>
        <div class="centerPanel">
            <div class='header'>
                Flexible to using controller or html
            </div>
            <div class="head2">
                Work under condition.
            </div>
            <div class="info">
                <ul>
                    <li>
                        Html only when system not found controller file in controller folder and have html tag in html file <a href="/example_html" target='_blank'>Example</a>
                    </li>
                    <li>
                        Controller only when system not found html file in view folder <a href="/json_example" target='_blank'>Example</a>
                    </li>
                    <li>
                        Full process with template <a href="/example_full" target='_blank'>Example</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class='panel2'>
        <div class="centerPanel">
            <div class='header'>
                Easy config route and filter data
            </div>
            <div class="head2">
                Using JSON for config route and filter.
            </div>
            <div class="info">
                Example1 Filter url pattern
            </div>
            <pre>{
    "filterUrl/example": {
        "controller":"filterUrlExample1"
    },
    "filterUrl/{ex1}/{ex2}": {
        "controller":"filterUrlExample2",
        "url_filter":{
            "{ex1}": "^[a-z]{3}$",
            "{ex2}": "^[A-Z]{3}$"
        }
    }
}</pre>
            <div class="info2">
                <div>
                    Normal route <a href="/filterUrl/example" target='_blank'>Example</a>
                </div>
                <div>
                    Dynamic route match Pattern <a href="/filterUrl/abc/DEF" target='_blank'>Example</a>
                </div>
                <div>
                    Dynamic route mismatch Pattern <a href="/filterUrl/abcd/DEFG" target='_blank'>Example</a>
                </div>
            </div>
            <div class="info">
                Example2 Filter GET parameter
            </div>
            <pre>{
    "filterExample": {
        "controller":"filterExample",
        "param_filter":{
            "aaa":"^a.*b$",
            "bbb":"^c.*d$"
        }
    }
}</pre>
            <div class="info2">
                <div>
                    Allow parameter <a href="/filterExample1?aaa=aanyb&bbb=canyd" target='_blank'>Example</a>
                </div>
                <div>
                    Deny parameter <a href="/filterExample1?aaa=aanyc&bbb=canye" target='_blank'>Example</a>
                </div>
            </div>
            <div class="info">
                Example2 Filter POST parameter
            </div>
            <pre>{
    "filterExample2": {
        "controller":"filterExample2",
        "param_filter":{
            "aaa":"^[a-z]*$",
            "bbb":"^[0-9]*$",
            "csrf":"^[a-z0-9]{32}$"
        }
    }
}</pre>
            <div class="info2">
                Example
                <form action="/filterExample2" method="post" target='_blank'>
                    <input type='hidden' value='<$csrf$>' name='csrf'/>
                    <input type='text' value="abcd" name="aaa"/>
                    <input type='text' value="1234" name="bbb"/>
                    <input type='submit' value='Submit'/>
                </form>
            </div>
        </div>
    </div>
    <div class='panel1'>
        <div class='centerPanel'>
            <div class='header'>
                Auto optimization image by GD
            </div>
            <div class="head2">
                Just drop image in resource/images folder and link at public url<br>
                Example: Drop in [DOC_ROOT]/resource/images/some_image.jpg<br>
                Link to [URL]/images/some_image.jpg
            </div>
            <div class="info">
                JPG Optimize
            </div>
            <div class='img_block'>
                <div class='img_view'>
                    <img src="/images/sample_jpg.jpg">
                </div>
                <div class="detail">
                    Optimize quality 9.1Kb from original full quality 43.3Kb <a href="http://projectgn.org/images/sample_jpg.jpg" target='_blank'>Original</a>
                </div>
            </div>
            <div class="info">
                PNG Optimize
            </div>
            <div class='img_block'>
                <div class='img_view'>
                    <img src="/images/sample_png.png">
                </div>
                <div class="detail">
                    Compress 77.1Kb from original no compress 310Kb <a href="http://projectgn.org/images/sample_png.png" target='_blank'>Original</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel2">
        <div class="centerPanel">
            <div class="header">
                Auto caching when switch to production mode.
            </div>
            <div class="head2">
                System process 'll not process controller when caching.
            </div>
            <div class="info2">
                Example: <a href="/cachingExample" target='_blank'>Caching page.</a>
            </div>
            <div class="info2">
                Example: <a href="/cachingExample2" target='_blank'>Disable caching page.</a>
            </div>
        </div>
    </div>
    <div class="panel1">
        <div class="centerPanel">
            <div class="header">
                Session process while caching if you need.
            </div>
            <div class="head2">
                System 'll keep all data in page for caching, Then there are process session after load cache just using View::setSessionProcess(true);  in controller.
            </div>
            <div class="info">
                Example: <a href="/sessionExample" target='_blank'>Session process page.</a>
            </div>
        </div>
    </div>
    <div class="panel2">
        <div class="centerPanel">
            <div class="header">
                Time controller tool make you know how lag in which process.
            </div>
            <div class="head2">
                Show time process in browser console or print out.
            </div>
            <div class="info">
                <img src='images/time_process.png'/>
            </div>
        </div>
    </div>
    <div class="panel1">
        <div class="centerPanel">
            <div class="header">
                Dev IO real-time build CSS like SASS.
            </div>
            <div class="head2">
                Dev IO is NodeJS and Socket.io help for real-time update css while you coding stylesheet.
                For this framework there can't use SASS because system need to combine CSS and JS, So i build this module for real-time update stylesheet instead.
            </div>
            <div class="info">
                How to use Dev IO<br>
                1. Change config "ENV_MODE" to "dev" and "ENABLE_DEV_IO" to "true".<br>
                2. Make sure jou installed NodeJS and go to folder "dev".<br>
                3. Run "npm install".<br>
                4. Start Dev IO by command "node start" and refresh page.<br>
                Then enjoin css coding.
            </div>
        </div>
    </div>
</div>