<div id="firstSignPanel">
    <div class='whatIs'>
        <div class="table">
            <div class="row">
                <div class="cell">
                    What's PGN Framework can do?
                </div>
                <div class="cell">
                    <ul>
                        <li>
                            Flexible to using controller or html.
                        </li>
                        <li>
                            Easy config route and filter data.
                        </li>
                        <li>
                            Dev IO real-time build CSS like SASS.
                        </li>
                        <li>
                            Auto caching when switch to production mode.
                        </li>
                        <li>
                            Session process while caching if you need.
                        </li>
                        <li>
                            Optimizetion image by GD2
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class='panel1'>
        <div class='header'>
            Flexible to using controller or html
        </div>
        <div class="head2">
            Work under condition.
        </div>
        <div class="info">
            <ul>
                <li>
                    Html only when system not found controller file in controller folder and have html tag in html file <a href="/example_html" target='_blank'>Example</a>
                </li>
                <li>
                    Controller only when system not found html file in view folder <a href="/json_example" target='_blank'>Example</a>
                </li>
                <li>
                    Full process with template <a href="/example_full" target='_blank'>Example</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<img src="/images/liny.jpg"/>
<img src="/images/test/yellow.png"/>